body{
    background-color: black;
}

.titolo{
    color: white;
}

.scritta{
    color: white;
}

.buttonRissa{
    background-color: red;
    color: black;
    padding: 10px;
}

.paragrafo{
    color: white;
}

.inputStat{
    background-color: white;
    color: black;
}






#contenitoreDadi {
    /*position: fixed;*/
    bottom: 20px;   
    left: 50%;/*posizione a metà schermo orizzontale*/
    transform: translateX(-50%);
    
    display: flex;/*così si affiancano invece che sovrapporsi*/
    flex-wrap: wrap;/*va a capo se esce dalla width*/
    width: 350px;/*larghezza dopo la quale va a capo*/
    justify-content: center;/*quando va a capo, va a centro*/

    gap: 10px;/*spazio tra un dad e l'altro*/
}

.dadoAttacco {
    width: 60px;
    height: 60px;
    background: rgb(247, 5, 5);
    border: 2px solid black;
    border-radius: 10px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.dadoDifesa {
    width: 60px;
    height: 60px;
    background: rgb(5, 9, 247);
    border: 2px solid black;
    border-radius: 10px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}